<div class="container">
  <form action="/" method = "post">
    <input type="text" name="user" placeholder="Enter twitter username">
    <input id="our-button" type="button" value="submit">
  </form>

  <img src="ajax-loader.gif" alt="Page Loading" height="50" width="50">
</div>
